/* IMAGE HERO - ACCUEIL */
/* Style | Conteneur Hero Image */
.principal-head {
    position: relative;
    height: 782px;
    width: 100%; 
    margin: 0;
    padding: 0;
}

/* Style | Hero Image */
.home-image {
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    background-image: url('/assets/images/fallback-hero.png'); /* Image de secours */
}

/* Style | Titre de l'Image */
.home-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
}

.filtre-tri{
    max-width: 1126px;  /* Largeur maximale - Section Filtres */
    margin: 0 auto;  
    text-align: center;  
    /*padding-right: 25px; */ 
    /*padding-left: 25px; */
    padding-top: 40px; 
    display: flex; 
    justify-content: space-between;
}

.filtre-tri ul {
    position: relative;
}

.filtre-tri label, .filtre-tri ul {
    font-family: 'Poppins';  
    font-size: 12px;  
    font-weight: 500;  
    line-height: 18px;  
    letter-spacing: 0.03em;  
    text-align: left;  
    text-transform: uppercase;  
}

.filtre-tri li{
    text-transform: none;
}

.filtre-tri .main-option {
    cursor: pointer;
    background-color: white;
    color: BLACK;
    border-radius: 5px;
    text-transform: uppercase;
}


.filtre-tri .options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border:solid 1px white;
    border-radius: 5px 5px 5px 5px;
    width: 100%; /* Prend la même largeur que le parent */
    z-index: 10;
}

.filtre-tri .options li {
    padding: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
}

li::marker{
    content:none;
}

.filtre-tri .options li:hover {
    background-color: #E00000;
    color: white;
    border-radius: 5px;
}

/* Afficher les options lorsque la classe 'active' est ajoutée */
.filtre-tri .filtre-btn.active .options  {
    display: block;
    padding: 0;
}

.filtre-categorie{
    margin-right: 42px;
}

.filtre-btn{
    display: flex;
    justify-content: space-between;
}

img.icon-btn{
    height: 6px;
    padding-top: 6.5PX;
}

.tri-date{
    margin-left: 310px;
}

.filtre-categorie,
.filtre-format,
.tri-date{
    width: 260px;  /* Largeur Filtres */
    height: 42px;  /* Hauteur Filtres */
    padding: 11px 18px 11px 18px;  /* Marge intérieure Filtres */
    margin-bottom: 20px; 
    border-radius: 8px;  /* Coins Filtres */
    border: 1.3px solid #B8BBC2;  /* Bordure solide */
    justify-content: space-between;
}

