/* Fichier CSS pour le style de la lightbox */


/*Style lightbox*/
.lightbox-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

/*Quand la lightbox est ouverte*/
.lightbox-container.opened {
  display: flex;
}

/*Comprends l'intégralité de la lightbox à l'écran*/
.lightbox-wrapper{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100vw;
  height: 100vh;
  margin-right: 18px;
  margin-left: 18px;
}

.lightbox-block{
  Height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Image de la lightbox*/
.lightbox-img{
  display: flex;
  height: 100%;
  max-width: 60vw;
}

.middle-image{
  width:100%;
  object-fit: contain;
}

/*Navigation et bouton de la lightbox*/
.btn-close,.left-arrow, .right-arrow {
  cursor: pointer;
  color: white;
  font-size: 2em;
}

.btn-close{
  position: absolute;
  font-family: 'Montserrat';
  top: 11%;/* 20 PX*/
  right: 3%; /* 20PX*/
}

/*Navigation précédentes et suivantes*/

.left-arrow,
.right-arrow{
  display: flex;
  align-items: center;
}

.text-arrow{
  font-family: "Space Mono";
  font-size: 12px;
  font-weight: 400;
  line-height: 17.77px;
  text-align: left;
  padding-left:10px;
  padding-right:10px;
}

/*Pour que la flèche et le texte change en même temps*/
.left-arrow:hover img.hover-arrow,
.right-arrow:hover img.hover-arrow {
  width: 34px; 
}

.left-arrow:hover p.text-arrow,
.right-arrow:hover p.text-arrow {
  font-weight: 700;
}


/*Référence et titre de la photo dans la lightbox*/
.info-photo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px; 
  color: white;
  font-family: 'Poppins';
  font-size: 14px;
  text-transform: uppercase; /*Ecriture en majuscule*/
}


@media screen and (max-width: 950px){
  .text-arrow{
    display:none;
  }
}