/* Styles | Global */
body {
    background-color: #FFFFFF;
    margin: 0;
}

main {
    padding: 57px 0 20px 0;
    font-family: 'Space Mono';
}


/* Styles | En-Tête */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 14px 10px #00000008;
    z-index: 1000;
}

.header-logo img {
    max-width: 300px;
    padding-left: 70px;
}


/* Styles | Menu de l'En-Tête */
.header-menu {
    display: flex;
    align-items: center;
    padding: 0;
}

/* Styles | Liens du Menu de l'En-Tête et du Pied de Page */
.header-menu li a,
.accueil-menu li a,
.footer-menu li a,
#contact-button-header,
.text-footer{
    text-decoration: none;
    color: #000;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.7px;
    letter-spacing: 0.1em;
    text-align: left;
}

/* Styles | Listes du Menu de l'En-Tête et du Pied de Page */
.header-menu ul,
.footer-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Styles | Éléments de Liste du Menu de l'En-Tête et du Pied de Page */

.header-menu li,
.accueil-menu li,
.footer-menu li{
    margin-right: 20px;
}

/* Styles | Styles de Boutons de l'En-Tête et du Pied de Page */
#contact-button-header {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Styles | Styles de Survole pour Boutons et Liens */
#contact-button-header:hover,
.header-menu li a:hover,
.accueil-menu li a:hover,
.footer-menu li a:hover,
.text-footer:hover {
    font-family: "Space Mono";
    font-size: 16px;
    font-weight: 700;
}

ul#menu-main-menu,
ul#menu-footer,
.accueil-menu{
    text-transform: uppercase;
}


/* Styles | PIED DE PAGE */
.footer-menu{
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Styles | Éléments de Liste du Menu du Pied de Page */
.footer-menu li,
.text-footer {
    margin: 0 15px;
    display: inline;
}

/* Styles | Liens du Menu du Pied de Page */
.footer-menu a {
    text-decoration: none;
    padding-top: 5px;
}

/* Styles | Pied-de-page */

footer {
    width: 100%;
    bottom: 0;
    background-color: #fff; 
    text-align: center; 
}

/* Styles | MOBILE - BOUTON BURGER */
.mobile-menu-button {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.bar {
    display: block;
    width: 27.42px;
    height: 2px;
    margin: 5px auto;
    background-color: #000;
    transition: 0.4s;
}

.close-button {
    display: none;
}


.mobile-menu-opened .close-button {
    display: block;
}

.mobile-menu-opened .mobile-menu-button {
    display: none;
}


/* MODÈLE - ARTICLE */

.main-content-post {
    margin: 0 auto;
    max-width: 800px;
}

/* Styles | MOBILE - MENU */
@media screen and (max-width: 768px) {


    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    
    .header-logo img {
        max-width: 200px;
        padding-left: 0;
    }
    
    .mobile-menu-button {
        display: block;
    }
    
    .header-menu {
        display: none; /* Sauf quand le menu est ouvert */
    }
    
    .mobile-menu-opened .header-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ul#menu-footer{
        display: flex;
        flex-direction: column ;
    }

    li#menu-item-40,
    li#menu-item-41{
        margin-top: 30px;
    }

    li#menu-item-41{
        margin-bottom: 30px;
    }

    .footer-menu{
        flex-direction: column;
        margin-bottom: 35px;
    }
}
    


